# Files created by Intellij IdeaCommunity Edition 2018 2.5 x64
pakoco-lib.iml
.idea/
out/

# For now, main is used for testing, so, it's modified on every commit
# but stills without anything inside.
src/Main.java
